<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
</style>
<body>
    <form action="/register" method="Post">
        <label>Mail</label>
        <input name="mail"/>
        <label>Password</label>
        <input name="pass"/>
        <label>Primer nombre</label>
        <input name="firstName"/>
        <label>Apellido</label>
        <input name="lastName"/>
        <button type="submit">Registras</button>
    </form>
</body>

</html>